<html>
	<head>
		<title>Employee Register</title>
        <meta charset="UTF-8">
        <title>employee register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body style="background: linear-gradient(to bottom, #ffccff 11%, #ffffff 70%)">
		<h1>Employee CRUD Application</h1>



<div class="container">
    <div class="text-center col-md-16">
        <div class="jumbotron" style="background:linear-gradient(to bottom, #4568DC, #B06AB3 100%);">




            <h1 class="display-4"><b>EMPLOYEE REGISTRATION DETAILS</b></h1>

             <p class="lead font-italic">Flask project</p>
             <hr class="my-4">
            <h4>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				{% endif %}
			{% endwith %}
		</h4>

		<p><a href="{{url_for('add')}}" class="btn btn-primary">Add Employee</a></p>
		<table class="table table-striped table-border text-center">
			<thead class="text-white" style="backround-color: #f2709c">

			<tr>
				<th>emp_id</th>
				<th>salary</th>
				<th>month</th>
				</tr>
			</thead>
			{% for data in dataa %}
				<tr>
					<td>{{data.0}}</td>
					<td>{{data.1}}</td>
					<td>{{data.2}}</td>
                     <td><a href="{{url_for('salary',id=data.0)}}"class="btn btn-primary">salary Detail</a></td>
				</tr>{% endfor %}
		</table>


        </div>

    </div>
</div>

	</body>
</html>